<div class="px-24 flex flex-col bg-slate-100 py-4">
  <div class="flex flex-row justify-center">
    <h1 class="text-center text-4xl bg-white font-bold rounded-md w-full md:w-2/4 py-2">Página de información sobre Pokémons | Lazar, Alexandru Robert</h1>
  </div>
  <div class="flex flex-row justify-center">
    <app-pokemon-list (pokemonSelected)="handlePokemonSelected($event)" class="w-full md:w-1/2"></app-pokemon-list>
    <app-pokemon-details [pokemonSelected]="pokemonSelected" class="fixed top-6 w-full left-0 md:w-1/3 md:right-14 md:left-auto"></app-pokemon-details>
  </div>
</div>
